DB_HOST=localhost
DB_DATABASE=nombreBD
DB_USER=postgres
DB_PASSWORD=contraseña
DB_PORT=5432


LOG_FILE_PATH           = "D:/temp/logs/"

LOG_FILE_NAME           = "archivo.log"

LOG_TO_FILE_ENABLED     = "true"

LOG_TO_CONSOLE_ENABLED  = "true"